// Note: there are extra allowances for files used solely in Firefox desktop,
// see content/js/.eslintrc and modules/.eslintrc
{
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": 6,
  },
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
  },
  "extends": "eslint:recommended",
  "globals": {
    "_": false,
    "Backbone": false,
    "chai": false,
    "classNames": false,
    "console": false,
    "loop": true,
    "LoopMochaUtils": true,
    "MozActivity": false,
    "RTCSessionDescription": false,
    "OT": false,
    "performance": false,
    "Promise": false,
    "ReactDOM": false,
    "React": false,
    "sinon": false,
    // Items we specifically want to allow to be used, but eslint dumps
    // under "ecmaVersion: 6" which we don't want to enable for now.
    "Uint8Array": false,
    "DataView": false,
    "ArrayBuffer": false
  },
  "rules": {
    // turn off all kinds of stuff that we actually do want, because
    // right now, we're bootstrapping the linting infrastructure.  We'll
    // want to audit these rules, and start turning them on and fixing the
    // problems they find, one at a time.

    // Eslint built-in rules are documented at <http://eslint.org/docs/rules/>
    "accessor-pairs": [2, {"setWithoutGet": true, "getWithoutSet": false}],
    "array-bracket-spacing": [2, "never"],
    "array-callback-return": 2,
    "arrow-body-style": [2, "as-needed"],
    "arrow-parens": [2, "as-needed"],
    "arrow-spacing": 2,
    "block-scoped-var": 2,
    "block-spacing": [2, "always"],
    "callback-return": 0,         // TBD
    "camelcase": 0,               // TODO: set to 2
    "comma-spacing": 2,
    "comma-style": 2,
    "computed-property-spacing": [2, "never"],
    "consistent-return": 2,
    "consistent-this": [2, "use-bind"],
    "curly": [2, "all"],
    "dot-location": [2, "property"],
    "eol-last": 2,
    "eqeqeq": [2, "smart"],
    "generator-star-spacing": [2, "after"],
    "guard-for-in": 2,
    "handle-callback-err": 2,
    "id-blacklist": 2,            // TBD pattern
    "id-match": 2,                // TBD pattern
    "jsx-quotes": [2, "prefer-double"],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "keyword-spacing": 2,
    "linebreak-style": [2, "unix"],
    "max-depth": [2, 3],
    "max-nested-callbacks": [2, 3],
    "max-statements-per-line": [2, {"max": 1}],
    "new-cap": 0,                 // TODO: set to 2
    "new-parens": 2,
    "no-alert": 2,
    "no-array-constructor": 2,
    "no-caller": 2,
    "no-catch-shadow": 2,
    "no-class-assign": 2,
    "no-confusing-arrow": [2, {"allowParens": true}],
    "no-console": 0,              // Leave as 0. We use console logging in content code.
    "no-const-assign": 2,
    "no-div-regex": 2,
    "no-duplicate-case": 2,
    "no-duplicate-imports": 2,
    "no-else-return": 2,
    "no-empty": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 2, // XXX
    "no-extra-bind": 0,           // Leave as 0
    "no-extra-label": 2,
    "no-extra-parens": 0,         // TODO: (bug?) [2, "functions"],
    "no-extra-semi": 2,
    "no-floating-decimal": 2,
    "no-implied-eval": 2,
    "no-invalid-this": 0,         // TBD
    "no-iterator": 2,
    "no-label-var": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-lonely-if": 2,
    "no-loop-func": 2,
    "no-mixed-requires": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-multiple-empty-lines": 2,
    "no-native-reassign": 2,
    "no-new": 2,
    "no-new-func": 2,
    "no-new-object": 2,
    "no-new-require": 2,
    "no-new-wrappers": 2,
    "no-octal-escape": 2,
    "no-path-concat": 2,
    "no-proto": 2,
    "no-restricted-globals": 2,   // TBD pattern
    "no-restricted-imports": 2,   // TBD pattern
    "no-restricted-modules": 2,   // TBD pattern
    "no-restricted-syntax": 2,    // TBD pattern
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-shadow": 2,
    "no-shadow-restricted-names": 2,
    "no-spaced-func": 2,
    "no-sync": 2,
    "no-throw-literal": 2,
    "no-trailing-spaces": 2,
    "no-undef-init": 2,
    "no-underscore-dangle": 0,    // Leave as 0. Commonly used for private variables.
    "no-unexpected-multiline": 2,
    "no-unmodified-loop-condition": 2,
    "no-unneeded-ternary": 2,
    "no-unsafe-finally": 2,
    "no-unused-expressions": 0,   // TODO: Set to 2
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "no-use-before-define": 0,    // TODO: Set to 2
    "no-useless-call": 2,
    "no-useless-computed-key": 2,
    "no-useless-concat": 2,
    "no-useless-constructor": 2,
    "no-useless-escape": 2,
    "no-void": 2,
    "no-whitespace-before-property": 2,
    "no-with": 2,
    "object-curly-spacing": [2, "always"],
    "one-var-declaration-per-line": [2, "initializations"],
    "operator-assignment": [2, "always"],
    "quotes": [2, "double", "avoid-escape"],
    "radix": [2, "always"],
    "require-yield": 2,
    "semi": 2,
    "semi-spacing": [2, {"before": false, "after": true}],
    "sort-imports": 2,
    "space-before-blocks": 2,
    "space-before-function-paren": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-infix-ops": [2, {"int32Hint": false}],
    "space-unary-ops": [2, {"words": true, "nonwords": false}],
    "spaced-comment": [2, "always"],
    "strict": [2, "function"],
    "template-curly-spacing": [2, "never"],
    "yield-star-spacing": [2, "after"],
    "yoda": [2, "never"],
    // eslint-plugin-react rules. These are documented at
    // <https://github.com/yannickcr/eslint-plugin-react#list-of-supported-rules>
    "react/jsx-boolean-value": [2, "always"],
    "react/jsx-closing-bracket-location": [2, "after-props"],
    "react/jsx-curly-spacing": [2, "never"],
    "react/jsx-equals-spacing": [2, "never"],
    "react/jsx-no-bind": 2,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-literals": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-sort-props": 2,
    "react/jsx-space-before-closing": [2, "always"],
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/self-closing-comp": 2,
    "react/sort-prop-types": 2,
    "react/wrap-multilines": 2,
    // Not worth it: React is defined globally
    "react/jsx-uses-react": 0,
    "react/react-in-jsx-scope": 0,
    // These ones we don't want to ever enable
    "react/display-name": 0,
    "react/no-danger": 0,
    "react/no-multi-comp": 0
  }
}
