/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html,
body,
#main {
  /* Required for `justify-content: space-between` to divide space equally
   * based on the full height of the page */
  height: 100%;
}

.standalone {
  width: 100%;
  background: #fbfbfb;
  color: #666;
  text-align: center;
  font-family: Open Sans,sans-serif;
}

/**
 * Note: the is-standalone-room class is dynamically set by the StandaloneRoomView.
 */
.standalone.is-standalone-room {
  background: #000;
}

.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background-color: rgba(0, 0, 0, 0.5); /* dim the background */
}

/* Intro Overlay Content */
.slideshow {
  position: relative;
  -moz-user-select: none;
  cursor: default;
  height: 450px;
  width: 620px;
  text-align: left;
  /* screen centering */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html[dir="rtl"] .slideshow {
  text-align: right;

  /* centering */
  left: auto;
  transform: translate(50%, -50%);
  right: 50%;
}

.slideshow > .slideshow-header {
  height: 60px;
  width:  100%;
  background-color: #0183b2;
  background-image: url(../../shared/img/firefox-hello_logo.svg);
  background-repeat: no-repeat;
  background-size: 170px auto;
  background-position: 44px 10px;
}

html[dir="rtl"] .slideshow > .slideshow-header {
  background-position: calc(100% - 44px) 10px;
}

.slideshow > .slideshow-header .button-close {
  display: block;
  position: absolute;
  background-color: transparent;
  background-image: url(../../shared/img/close-02.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: none;
  padding: 0;
  height: 20px;
  width: 20px;
  top: 20px;
  right: 20px;
  fill: #06a6e0;
}

html[dir="rtl"] .slideshow > .slideshow-header .button-close {
  left: 20px;
  right: auto;
}

.slide {
  height: 390px;
  width:  100%;
  overflow: hidden;
  white-space: nowrap;
}

/* slide content */
.slide > div {
  height: 100%;
  width:  100%;
}

.slide-layout {
  padding-top: 25px;
  padding-left: 50px;
  padding-bottom: 20px;
  width: 600px;
}

html[dir="rtl"] .slide-layout {
  padding-right: 50px;
  padding-left: 0;
}

.slide-layout > h2 {
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  white-space: normal;
  color: #fff;
  line-height: 3rem;
  margin-bottom: 10px;
}

.slide-layout > .slide-text {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  white-space: normal;
  color: #fff;
  line-height: 2.4rem;
  margin-bottom: 12px;
}

.slide-layout > button.button-got-it {
  height: 30px;
  background: #005ea6;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1.8rem;
  padding: 3px 20px;
}

.slide1 {
  background: #06a6e0;
}

.slide1-image {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  float: right;
  margin-top: 32px;
  background-image: url(../../shared/img/firefox-hello_tour-slide-01.svg);
  height: 260px;
  width: 280px;
  background-size: 310px 310px;
}

html[dir="rtl"] .slide1-image {
  float: left;
}

/* Logos */

.loop-logo-text {
  background: url("../img/hello-logo-text.svg") no-repeat;
  width: 200px;
  height: 36px;
}

.loop-logo {
  background: url("../../shared/img/helloicon.svg") no-repeat;
  width: 100px;
  height: 100px;
}

.mozilla-logo {
  height: 26px;
  width: 100px;
}

/* Standalone Info bar */
.standalone-info-bar {
  align-items: center;
  background: #fbfbfb;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
  display: flex;
  height: 40px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.standalone-info-bar > .hello-logo {
  width: 93px;
  height: 16px;
  background-image: url("../../shared/img/hello_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-right: 15px;
}

.standalone-info-bar > .hello-logo:after {
  content: "";
  border-left: solid 1px #c1c1c1;
  bottom: 0;
  display: block;
  /* Keep in sync with .hello-logo width and margins. */
  left: 123px;
  position: absolute;
  top: 0;
}

html[dir="rtl"] .standalone-info-bar > .hello-logo:after {
  left: initial;
  /* Keep in sync with .hello-logo width and margins. */
  right: 123px;
}


.standalone-info-bar-spacer {
  align-items: center;
  flex: 1;
  justify-content: flex-start;
  margin-left: 15px;
}

html[dir="rtl"] .standalone-info-bar-spacer {
  margin-right: 15px;
}

.standalone-info-bar-spacer > .context-info {
  align-items: center;
  color: #666;
  display: flex;
  font-size: 12px;
}

.standalone-info-bar-spacer > .context-info > .terms-service {
  margin: 0;
}

.standalone-info-bar-spacer > .context-info > .terms-service > a {
  color: #666;
}

.standalone-info-bar-spacer > .context-info > a {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.standalone-info-bar-spacer > .context-info > a > .context-favicon {
  margin-right: 5px;
  width: 16px;
}

html[dir="rtl"] .standalone-info-bar-spacer > .context-info > a > .context-favicon {
  margin-left: 5px;
  margin-right: 0;
  vertical-align: middle;
}

.standalone-info-bar > .media-control-buttons {
  display: flex;
}

.standalone-info-bar > .media-control-buttons > .btn,
.standalone-info-bar > .media-control-buttons > .general-support-url {
  height: 40px;
  margin-left: 1px;
  width: 42px;
}

html[dir="rtl"] .standalone-info-bar > .media-control-buttons > .btn,
html[dir="rtl"] .standalone-info-bar > .media-control-buttons > .general-support-url {
  margin-left: 0;
  margin-right: 1px;
}

.standalone-info-bar > .media-control-buttons > .btn-hangup {
  background-color: #c33c32;
}

.standalone-info-bar > .media-control-buttons > .btn-hangup:after {
  content: url("/shared/img/leave.svg");
  margin-right: -2px;
}

html[dir="rtl"] .standalone-info-bar > .media-control-buttons > .btn-hangup:after {
  display: inline-block;
  margin-left: -2px;
  margin-right: 0;
  transform: scaleX(-1);
}


.standalone-info-bar > .media-control-buttons > .btn-hangup:hover {
  background-color: #AF352C;
}

.standalone-info-bar > .media-control-buttons > .btn-mute-audio,
.standalone-info-bar > .media-control-buttons > .btn-mute-video {
  background-color: inherit;
}

.standalone-info-bar > .media-control-buttons > .btn-mute-audio:hover:after,
.standalone-info-bar > .media-control-buttons > .btn-mute-audio:active:after {
  content: url("/shared/img/audio.svg");
}

.standalone-info-bar > .media-control-buttons > .btn-mute-audio.muted:after {
  content: url("/shared/img/audio-muted-darkgrey.svg");
}

.standalone-info-bar > .media-control-buttons > .btn-mute-video:after {
  margin-left: -4px;
}

.standalone-info-bar > .media-control-buttons > .btn-mute-video:hover:after,
.standalone-info-bar > .media-control-buttons > .btn-mute-video:active:after {
  content: url("/shared/img/video.svg");
}

.standalone-info-bar > .media-control-buttons > .btn-mute-video.muted:after {
  content: url("/shared/img/video-muted-darkgrey.svg");
}

.standalone-info-bar > .media-control-buttons > .general-support-url {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Highlight on hover. */
.standalone-info-bar > .media-control-buttons > .general-support-url:hover,
.standalone-info-bar > .media-control-buttons > .btn:not(.btn-hangup):hover {
  background-color: rgba(51, 51, 51, 0.1);
}

.general-support-url > .icon-help {
  background: transparent url("../shared/img/glyph-help-no-circle-16x16.svg") no-repeat;
  height: 16px;
  width: 16px;
 }

/* Account for the height of the standalone infobar. */
.media-layout {
  padding-top: 40px;
}

.btn-large {
  font-size: 1rem;
  padding: .3em .5rem;
}

/**
 * Warning views
 */

.issue-box {
  display: block;
  height: 100%;
}

.issue-box-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.issue-box-content .info-panel {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
  max-width: 430px;
  padding: 0;
  text-align: start;
}

.info-panel h1 {
  color: #666;
  font-size: 28px;
  font-weight: normal;
  line-height: 40px;
  margin-bottom: 30px;
  padding: 130px 0 0;
  position: relative;
  text-align: center;
}

.info-panel h1:before {
  background: url(../img/sad-face.svg) center center;
  background-size: 93px 90px;
  content: "";
  display: block;
  height: 90px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 93px;
}

/**
 * Unsupported views
 */

.issue-unsupported-platform .issue-box-content {
  width: 550px;
}

.issue-unsupported-platform .issue-box-content .info-panel {
  max-width: 550px;
  text-align: center;
}

.issue-unsupported-platform.issue-box:after {
  background: transparent url(../img/Hello_Logo.svg) no-repeat center center;
  background-size: contain;
  bottom: 40px;
  content: '';
  display: block;
  height: 31px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 138px;
}

/**
* Expired views
*/
.highlight-issue-box {
  width: 400px;
  margin: 0 auto;
}

.promote-firefox {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin: 2em 0;
}

.promote-firefox h3 {
  font-weight: 300;
}

.btn-unsupported-device {
  width: 80%;
  line-height: 24px;
}

/**
 * Handle in Firefox views
 */

.handle-user-agent-view-scroller {
  height: 100%;
  overflow: scroll;
}

.handle-user-agent-view {
  margin: 2rem auto;
  width: 500px;
}

.handle-user-agent-view > .info-panel {
  padding-bottom: 40px;
  font-size: 1.6rem;
}

.handle-user-agent-view > p,
.handle-user-agent-view > .info-panel > p {
  margin-top: 0;
  margin: 2rem auto;
}

.handle-user-agent-view > .info-panel > .failure {
  color: red;
  font-weight: bold;
  /* Add padding to match the height of the button. */
  padding: 1.15rem 0;
  margin: 0;
}

.handle-user-agent-view > .info-panel > button {
  width: 80%;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.handle-user-agent-view > .info-panel > button.disabled {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
  color: #B2B0B3;
  font-weight: normal;
}

/* Room wrapper layout */

.room-conversation-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

/* gUM prompts */

.prompt-media-message {
  padding-top: 136px; /* Fallback for browsers that don't support calc() */
  /* 122px is 2x the intrinsic height of the background-image, and
     1rem puts one line of margin between the background-image and
     supporting text. */
  padding-top: calc(122px + 1rem);
  color: #000;
  background-color: #fff;
  background-image: url("../img/gum-others.svg");
  background-position: top center;
  /* The background-image is scaled up at 2x the instrinsic size
     (witdh & height) to make it easier to see. */
  background-size: 202px 122px;
  background-repeat: no-repeat;
  border: 1rem #fff solid;
  box-shadow: 0 0 5px #000;
  margin: auto;
  /* `width` here is specified by the design spec. */
  width: 250px;
}

.prompt-media-message.chrome {
  background-image: url("../img/gum-chrome.svg");
}

.prompt-media-message.firefox {
  background-image: url("../img/gum-firefox.svg");
}

.prompt-media-message.opera {
  background-image: url("../img/gum-opera.svg");
}

/* Room Info area layout */

.room-inner-info-area {
  color: #4a4a4a;
  margin: auto;
  padding: 0 5px;
  width: 100%;
}

.room-inner-info-area > button {
  border-radius: 3px;
  font-size: 1.2em;
  padding: .2em 1.2em;
  cursor: pointer;
}

.room-inner-info-area > p > a.btn {
  padding: .5em 3em .3em 3em;
  border-radius: 3px;
  font-weight: normal;
  max-width: 400px;
}

.room-inner-info-area > .empty-room-message {
  font-size: 1.2em;
  font-weight: bold;
}

.room-inner-info-area > .room-waiting-area {
  display: flex;
  justify-content: space-between;
  margin: 3em auto 1em;
  /* This should match the width set in the room-waiting-tile to ensure the edges
     of the content aligns within the tile width. */
  width: 290px;
}

.room-inner-info-area > .room-waiting-area > a >.room-waiting-help {
  background: transparent url("../shared/img/glyph-help-16x16.svg") no-repeat;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  vertical-align: middle;
  width: 16px;
}

.room-inner-info-area > .room-waiting-tile {
  border: 0;
  border-radius: 5px;
  /* These sizes are the size of the tile image and title */
  height: 204px;
  /* The tiles we are served are 290px wide. This width should also match that
     for the .room-waiting-area. */
  width: 290px;
}

/* Terms of Service */

.room-inner-info-area > .terms-service {
  margin-top: 20px;
}

.room-inner-info-area > .terms-service,
.room-inner-info-area > .terms-service > a {
  color: #999;
}

@media screen and (max-width:620px) {
  .issue-unsupported-platform .issue-box-content {
    width: 100%;
  }

  .issue-unsupported-platform .issue-box-content .info-panel {
    margin: auto;
    max-width: 500px;
  }

  .issue-unsupported-platform .info-panel h1 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
    padding: 95px 0 0;
    text-align: center;
  }

  .issue-unsupported-platform .info-panel h1:before {
    background-size: 72px 70px;
    height: 70px;
    top: 0;
    width: 72px;
  }

  .issue-unsupported-platform.issue-box::after {
    bottom: 30px;
    height: 18px;
    width: 109px;
  }
}

@media screen and (max-width:360px) {
  .issue-unsupported-platform .issue-box-content .info-panel {
    max-width: 300px;
  }
}
