/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* XXX akita: Tidy up css */
.media-wrapper:not(.showing-local-streams) > .media-control-buttons {
  display: none;
}

.media-wrapper.showing-local-streams > .media-control-buttons {
  display: flex;
  justify-content: space-around;
  order: 2;
}

.media-wrapper.showing-local-streams > .media-control-buttons > .btn,
.media-wrapper.showing-local-streams > .media-control-buttons > .general-support-url {
  height: 40px;
  margin-left: 1px;
  width: 42px;
}

html[dir="rtl"] .standalone-info-bar > .media-control-buttons > .btn,
html[dir="rtl"] .standalone-info-bar > .media-control-buttons > .general-support-url {
  margin-left: 0;
  margin-right: 1px;
}

.media-wrapper.showing-local-streams > .media-control-buttons > .btn-hangup {
  background-color: #c33c32;
}

.media-wrapper.showing-local-streams > .media-control-buttons > .btn-hangup:after {
  content: url("/shared/img/leave.svg");
  margin-right: -2px;
}

html[dir="rtl"] .standalone-info-bar > .media-control-buttons > .btn-hangup:after {
  display: inline-block;
  margin-left: -2px;
  margin-right: 0;
  transform: scaleX(-1);
}


.media-wrapper.showing-local-streams > .media-control-buttons > .btn-hangup:hover {
  background-color: #AF352C;
}

.media-wrapper.showing-local-streams > .media-control-buttons > .btn-mute-audio,
.media-wrapper.showing-local-streams > .media-control-buttons > .btn-mute-video {
  background-color: inherit;
}

.media-wrapper.showing-local-streams > .media-control-buttons > .btn-mute-audio:hover:after,
.media-wrapper.showing-local-streams > .media-control-buttons > .btn-mute-audio:active:after {
  content: url("/shared/img/audio.svg");
}

.media-wrapper.showing-local-streams > .media-control-buttons > .btn-mute-audio.muted:after {
  content: url("/shared/img/audio-muted-darkgrey.svg");
}

.media-wrapper.showing-local-streams > .media-control-buttons > .btn-mute-video:after {
  margin-left: -4px;
}

.media-wrapper.showing-local-streams > .media-control-buttons > .btn-mute-video:hover:after,
.media-wrapper.showing-local-streams > .media-control-buttons > .btn-mute-video:active:after {
  content: url("/shared/img/video.svg");
}

.media-wrapper.showing-local-streams > .media-control-buttons > .btn-mute-video.muted:after {
  content: url("/shared/img/video-muted-darkgrey.svg");
}

.media-wrapper.showing-local-streams > .media-control-buttons > .general-support-url {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Highlight on hover. */
.media-wrapper.showing-local-streams > .media-control-buttons > .general-support-url:hover,
.media-wrapper.showing-local-streams > .media-control-buttons > .btn:not(.btn-hangup):hover {
  background-color: rgba(51, 51, 51, 0.1);
}

.media-wrapper.showing-local-streams > .remote  {
  order: 1;
}

.media-wrapper.showing-local-streams > .remote > .local > .remote-video-box > video {
  width: 100%;
  height: 100%;
  transform: scale(-1, 1);
  transform-origin: 50% 50% 0;
}
