.toc-wrapper {
  display: flex;
  width: calc(100% - 272px);
  height: 100%;
  flex-direction: column;
  padding: 20px;
}

.toc-wrapper.receiving-screen-share {
  display: none;
}

.toc-wrapper::after {
  content: "";
  display: block;
  width: 93px;
  height: 16px;
  background-image: url("../../shared/img/hello_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 20px;
}

.toc-wrapper > .toc-room-info-bar {
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.toc-wrapper > .toc-room-info-bar > .room-name {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 2;
}

.toc-wrapper > .toc-room-info-bar > .room-name > .edit-room-name {
  font-size: 16px;
  font-weight: bold;
}

.toc-wrapper > .toc-room-info-bar > .room-actions-buttons > [class^="room-action"] > button {
  border: solid 1px #ebebeb;
  background: rgba(51, 51, 51, 0.1);
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.toc-wrapper > .toc-room-info-bar > .room-actions-buttons > [class^="room-action"] {
  display: inline-block;
  position: relative;
  margin-left: 15px;
}

.toc-wrapper > .toc-room-info-bar > .room-actions-buttons > [class^="room-action"] > button.add-url::after {
  content: url("../../shared/img/icons-16x16.svg#add-hover");
}

.toc-wrapper > .toc-room-info-bar > .room-actions-buttons > [class^="room-action"] > button.add-url:hover::after {
  content: url("../../shared/img/icons-16x16.svg#add-active");
}

.toc-wrapper > .toc-room-info-bar > .room-actions-buttons > [class^="room-action"] > button.settings::after {
  content: url("../../shared/img/icons-16x16.svg#settings-hover");
}

.toc-wrapper > .toc-room-info-bar > .room-actions-buttons > [class^="room-action"] > button.settings:hover::after {
  content: url("../../shared/img/icons-16x16.svg#settings-active");
}

.room-panel-add-url {
  position: absolute;
  right: 0;
  padding: 20px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.4);
  width: 250px;
  background-color: #fff;
}

.room-panel-add-url > input {
  display: block;
  width: 100%;
}

.room-panel-add-url > button {
  width: 100%;
}

.toc-wrapper > .toc-room-info-bar > .room-active-users > .room-user,
.toc-wrapper > .room-toc > .toc-tile > .room-user {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.toc-wrapper > .toc-room-info-bar > .room-active-users > .room-user:hover:after,
.toc-wrapper > .room-toc > .toc-tile > .room-user:hover:after {
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  top: 37px;
  color: #fff;
  content: attr(data-name);
  position: absolute;
  z-index: 98;
  min-width: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.toc-wrapper > .room-toc > .toc-tile > .room-user:hover:after {
  left: 0;
  transform: none;
}

.toc-wrapper > .toc-room-info-bar > .room-active-users > .room-user:hover:before,
.toc-wrapper > .room-toc > .toc-tile > .room-user:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 0 6px 6px;
  top: 31px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
  transform: translateX(-50%);
}

/* TOC items */

.toc-wrapper > .room-toc {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  margin-bottom: 30px;
}

.toc-wrapper > .room-toc > .toc-tile {
  border-radius: 4px;
  width: 250px;
  background: #a6a6a6;
  box-shadow: 1px 2px 4px rgba(0,0,0,.4);
  margin: 0 20px 20px 0;
  position: relative;
}

.toc-wrapper > .room-toc > .toc-tile > .room-user {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0;
}

.toc-wrapper > .room-toc > .toc-tile > .tile-screenshot {
  width: 100%;
  display: block;
}

.toc-wrapper > .room-toc > .toc-tile > .tile-info {
  padding: 15px;
  height: 75px;
  background: #fff;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 12px;
}

.toc-wrapper > .room-toc > .toc-tile > .tile-info > .tile-name,
.toc-wrapper > .room-toc > .toc-tile > .tile-info > .tile-url {
  width: calc(200px - 30px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.screen {
  display: none;
  height: 100%;
  width: calc(100% - 272px);
  position: relative;
}

.screen.focus-stream {
  display: flex;
}

.screen.focus-stream > .remote-video-box > video {
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 272px;
}

.sidebar > .media-layout {
  padding: 0;
}
