// This file defines additional items and rules specific for gecko files.
// This is applied on top of the basic .eslintrc for gecko specific directories
// e.g. the modules directory.
{
  "globals": {
    // Bootstrap magic globals.
    "APP_SHUTDOWN": false,
    // Gecko + Loop Globals.
    "AboutLoop": false,
    "AppConstants": false,
    "appInfo": false,
    "Chat": false,
    "ChromeWorker": false,
    "clipboardHelper": false,
    "CommonUtils": false,
    "Components": false,
    "convertToRTCStatsReport": false,
    "COPY_PANEL": false,
    "CustomizableUI": false,
    "deriveHawkCredentials": false,
    "DomainWhitelist": false,
    "eventEmitter": false,
    "extProtocolSvc": false,
    "FxAccountsOAuthClient": false,
    "FxAccountsProfileClient": false,
    "gBrowser": false,
    "gDNSService": false,
    "gLoopBundle": false,
    "gWM": false,
    "HawkClient": false,
    "hookWindowCloseForPanelClose": true,
    "importScripts": false,
    "Iterator": false,
    "Log": false,
    "log": true,
    "LOOP_MAU_TYPE": false,
    "LOOP_SESSION_TYPE": true,
    "LoopAPI": true,
    "LoopCalls": true,
    "loopCrypto": false,
    "LoopRooms": true,
    "LoopRoomsCache": true,
    "MozLoopPushHandler": true,
    "MozLoopService": true,
    "NewTabURL": false,
    "onmessage": true,
    "OS": false,
    "PanelFrame": false,
    "PluralForm": false,
    "PrivateBrowsingUtils": false,
    "RemotePages": false,
    "ROOM_CREATE": false,
    "ROOM_DELETE": false,
    "roomsPushNotification": true,
    "Services": false,
    "SHARING_ROOM_URL": false,
    "SHARING_SCREEN": false,
    "Social": false,
    "SocialShare": false,
    "Task": false,
    "TWO_WAY_MEDIA_CONN_LENGTH": false,
    "UITour": false,
    "WebChannel": false,
    "XPCOMUtils": false,
    "UpdateUtils": false,
    "uuidgen": true,
    // Test Related
    "Assert": false,
  },
  "rules": {
    "arrow-parens": 0,         // TBD
    "eqeqeq": 0,               // TBD
    // We should fix the errors and enable this (set to 2)
    "no-var": 0,
    "prefer-arrow-callback": 0,// TODO: Set to 2.
    "require-yield": 0,        // TODO: Set to 2.
    "strict": [2, "global"]
  }
}
